<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
    <title>Note</title>
    <style>
        label, textarea {
            display: block;
        }
        textarea {
            overflow: auto;
        }
    </style>
</head>
<body>
<div>
    Note <br>
    <label>
        Title:
        <input type="text" th:value="${title}" name="titleName" readonly="readonly">
    </label>
    <label>
        Text
        <textarea type="text" rows="30" cols="200" th:utext="${text}" name="content" readonly="readonly"></textarea>
    </label>
</div>
</body>
</html>